* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
:root{
    --color-one: #000000; 
    --color-two: #ffffff; 
}
body {
    font-family: sans-serif;
    background-color: #e7e7e7;
    width: 100%;
    height: 100vh;
}
a{
    text-decoration: none;
}
header{
    width: 100vw;
    background-color: #000000;
    height: 10vh;
}
.containerOne{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 90vw;
    height: 10vh;
}
.containerOne h1 {
    color: var(--color-two);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}
.containerOne ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items a {
    color: var(--color-two);
    font-size: 1.5rem;
}
.items a:hover{
    color: aqua;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5rem 5rem 5rem;
}
.item {
    background-color: aqua;
    padding: 1rem;
    border: .1rem solid red;
}