* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
:root{
    --color-One:#000000; 
    --color-Two:#ffffff; 
    --color-three: #c0c0c0; 
}
body {
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background-color: var(--color-three);
}
a {
    text-decoration: none;
}
/* .container{
    display: grid;
    grid-template-columns: repeat(2, minmax(10rem, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: .3rem;
    background-color: var(--color-Two);
} */
/* .item{
    padding: 1rem;
} */
/* // Layout */
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "header header"
                         "left content"
                         "footer footer";
    gap: 1rem;
    background-color: var(--color-Two);
}
.item {
    color: var(--color-Two);
}
.header{
grid-area: header;
background-color: darkmagenta;
}
.left{
grid-area: left;
background-color: darkorange;
}
.content{
grid-area: content;
background-color: rgb(209, 17, 0);
}
.footer{
grid-area: footer;
background-color: green;
}
